@mixin location {
    font-size: 1.5rem;
    background-color: $color-main-white;
    border-radius: 50px;
    padding: 0 1rem;
    z-index: 1000;
}

@mixin respond($breakpoint) {
    @if $breakpoint == tablet {
        @media only screen and (max-width: 50em) {
            @content;
        }
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }
}
