.bof-map__heading {
    color: $color-main-brown;

    &--pampanga {
        text-align: center;
        font-size: 42px;
        margin-bottom: 16px;

        @include respond(phone) {
            font-size: 32px;
        }
    }

    &--tarlac {
        position: absolute;
        font-size: 32px;

        top: 67%;
        left: 2%;

        @include respond(phone) {
            font-size: 22px;
        }
    }

    &--bulacan {
        position: absolute;
        font-size: 32px;

        top: 68%;
        left: 76%;

        @include respond(phone) {
            font-size: 22px;
        }
    }
}
