.bof-map__heading {
    color: $color-white;

    @include respond(phone) {
        font-size: 22px;
    }

    &--pampanga {
        position: absolute;
        font-size: 42px;
        margin-bottom: 16px;
        top: 82%;
        left: -25%;

        @include respond(phone) {
            font-size: 25px;
            top: 92%;
            left: 36%;
        }
    }

    &--tarlac {
        position: absolute;
        font-size: 32px;

        top: -1%;
        left: -24%;

        @include respond(phone) {
            font-size: 22px;
            top: 79%;
            left: 1.5%;
        }
    }

    &--bulacan {
        position: absolute;
        font-size: 32px;
        top: 56%;
        left: 92%;

        @include respond(phone) {
            font-size: 22px;
            top: 62%;
            left: 75%;
        }
    }
}
