.bof-map__heading {
    color: $color-white;
    margin: 0px 0px !important;

    @include respond(phone) {
        font-size: 22px;
    }

    &--pampanga {
        position: absolute;
        font-size: 42px;
        margin-bottom: 16px;
        top: 82%;
        left: -25%;

        @include respond(phone) {
            font-size: 25px;
            top: -20%;
            left: 31%;
        }
    }

    &--tarlac {
        position: absolute;
        font-size: 32px;

        top: -1%;
        left: -24%;

        @include respond(phone) {
            font-size: 22px;
            top: 77%;
            left: -3.5%;
        }
    }

    &--bulacan {
        position: absolute;
        font-size: 32px;
        top: 56%;
        left: 92%;

        @include respond(phone) {
            font-size: 22px;
            top: 62%;
            left: 77%;
        }
    }
}
