.map {
    position: relative;

    &__background {
        width: 100%;
        max-width: 720px;
    }

    ///////////////////// ICONS
    &__icon {
        position: absolute;

        &--arayat {
            width: 30%;
            left: 50%;
            top: 9%;
        }

        &--city {
            width: 30%;
            left: 15%;
            top: 9%;
        }

        &--porac-miyamit-falls {
            width: 15%;
            left: 7%;
            top: 23%;
        }

        &--building {
            width: 11%;
            left: 47%;
            top: 17.5%;
        }

        &--migratory-birds {
            width: 22%;
            left: 76%;
            top: 13%;
        }

        &--nabuclod-mountains {
            width: 25%;
            left: 5%;
            top: 37.5%;
        }

        &--church {
            width: 12%;
            left: 21%;
            top: 58.5%;
        }

        &--macabebe-river {
            width: 15%;
            left: 44%;
            top: 74.5%;
        }

        &--capas-shrine {
            width: 8%;
            left: 0;
            top: 76%;
        }

        &--pulilan-church {
            width: 15%;
            left: 63%;
            top: 76%;
        }
    }

    ///////////////////// PINS
    &__pin {
        width: 5%;
        position: absolute;
        // box-shadow: ;

        &--dau {
            left: 32%;
            top: 2.3%;
        }

        &--magalang {
            left: 48%;
            top: 1.1%;
        }

        &--arayat {
            left: 60%;
            top: 13%;
            z-index: 2;
        }

        &--angeles-city {
            left: 30%;
            top: 19%;
            z-index: 2;
        }

        &--porac {
            left: 22%;
            top: 29%;
        }

        &--sanFernando {
            left: 43%;
            top: 30%;
        }

        &--staAna {
            left: 62%;
            top: 25%;
        }

        &--canbada {
            left: 76%;
            top: 28%;
        }

        &--floridablanca {
            left: 15%;
            top: 50%;
        }

        &--jasa {
            left: 29%;
            top: 46%;
        }

        &--sta-rita {
            left: 34%;
            top: 42%;
        }

        &--bacolor {
            left: 42%;
            top: 40%;
        }

        &--sto-tomas {
            left: 56.5%;
            top: 42.5%;
        }

        &--sta-cruz {
            left: 24.5%;
            top: 69.5%;
        }

        &--sto-tomas-lubao {
            left: 31%;
            top: 57%;
        }

        &--plaza-burgos {
            left: 41%;
            top: 53%;
        }

        &--minalin {
            left: 52%;
            top: 52%;
        }

        &--macabebe {
            left: 52%;
            top: 64.5%;
        }

        &--capas {
            left: 9%;
            top: 78%;
        }

        &--pulilan {
            left: 80%;
            top: 78%;
        }
    }
}
