.map {
    position: relative;

    &__background {
        width: 100%;
        max-width: 720px;
    }

    margin: 2rem;

    ///////////////////// ICONS
    &__icon {
        &:hover,
        &:active {
            animation-name: moveUpAndDown;
            animation-duration: 0.5s;
            animation-timing-function: linear;

            & + div {
                opacity: 1;
            }
        }

        position: absolute;

        &--arayat {
            width: 30%;
            left: 50%;
            top: 9%;
        }

        &--city {
            width: 30%;
            left: 15%;
            top: 9%;
        }

        &--porac-miyamit-falls {
            width: 15%;
            left: 7%;
            top: 23%;
        }

        &--building {
            width: 11%;
            left: 47%;
            top: 17.5%;
        }

        &--migratory-birds {
            width: 22%;
            left: 76%;
            top: 13%;
        }

        &--nabuclod-mountains {
            width: 25%;
            left: 5%;
            top: 37.5%;
        }

        &--church {
            width: 12%;
            left: 21%;
            top: 58.5%;
        }

        &--macabebe-river {
            width: 15%;
            left: 44%;
            top: 74.5%;
        }

        &--capas-shrine {
            width: 8%;
            left: 0;
            top: 76%;
        }

        &--pulilan-church {
            width: 15%;
            left: 63%;
            top: 76%;
        }
    }

    ///////////////////// PINS
    &__pin {
        width: 5%;
        position: absolute;
        filter: drop-shadow(0 0.7rem 0.4rem black);

        &:hover,
        &:active {
            animation-name: moveUpAndDown;
            animation-duration: 0.5s;
            animation-timing-function: linear;

            & + div {
                opacity: 1;
            }
        }

        &--dau {
            left: 32%;
            top: 2.3%;

            &:hover::after {
                content: 'Dau';
                @include location;
                color: black;
                animation: none;
            }
        }

        &--magalang {
            left: 48%;
            top: 1.1%;
        }

        &--arayat {
            left: 60%;
            top: 13%;
            z-index: 2;
        }

        &--angeles-city {
            left: 30%;
            top: 19%;
            z-index: 2;
        }

        &--porac {
            left: 22%;
            top: 29%;
        }

        &--san-fernando {
            left: 43%;
            top: 30%;
        }

        &--sta-ana {
            left: 62%;
            top: 25%;
        }

        &--canbada {
            left: 76%;
            top: 28%;
        }

        &--floridablanca {
            left: 15%;
            top: 50%;
        }

        &--jasa {
            left: 29%;
            top: 46%;
        }

        &--sta-rita {
            left: 34%;
            top: 42%;
        }

        &--bacolor {
            left: 42%;
            top: 40%;
        }

        &--sto-tomas {
            left: 56.5%;
            top: 42.5%;
        }

        &--sta-cruz {
            left: 24.5%;
            top: 69.5%;
        }

        &--sto-tomas-lubao {
            left: 31%;
            top: 57%;
        }

        &--plaza-burgos {
            left: 41%;
            top: 53%;
        }

        &--minalin {
            left: 52%;
            top: 52%;
        }

        &--macabebe {
            left: 52%;
            top: 64.5%;
        }

        &--capas {
            left: 9%;
            top: 78%;
        }

        &--pulilan {
            left: 80%;
            top: 78%;
        }
    }

    &__location-name {
        position: absolute;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 4px 1.5rem;
        background-color: $color-main-white;
        border-radius: 50px;
        opacity: 0;
        z-index: 5;
        transition: all 0.8s;

        &--header {
            background-color: $color-main-orange;
            padding: 3px 2rem;
            z-index: 4;
            line-height: 150%;

            &-capas {
                left: 8%;
                top: 85.5%;
            }

            &-pulilan {
                left: 80%;
                top: 85%;
            }
        }

        &--dau {
            left: 32%;
            top: 9%;
        }

        &--magalang {
            left: 48%;
            top: 8%;
        }

        &--arayat {
            left: 60%;
            top: 20%;
        }

        &--mt-arayat {
            left: 68%;
            top: 10%;
        }

        &--angeles-city {
            left: 30%;
            top: 26%;
        }

        &--porac-miyamit-falls {
            left: 0%;
            top: 35%;
        }

        &--porac {
            left: 21%;
            top: 36%;
        }

        &--san-fernando {
            left: 42%;
            top: 38%;
        }

        &--sta-ana {
            left: 61%;
            top: 32%;
        }

        &--canbada {
            left: 75%;
            top: 36%;
        }

        &--migratory-birds {
            left: 77%;
            top: 25%;

            @media only screen and (max-width: 31.5em) {
                left: 70%;
            }
        }

        &--nabuclod-mountains {
            left: 19%;
            top: 37%;
        }

        &--floridablanca {
            left: 15%;
            top: 57.5%;
        }

        &--jasa {
            left: 29%;
            top: 53.5%;
        }

        &--sta-rita {
            left: 33.7%;
            top: 49.5%;
        }

        &--bacolor {
            left: 42%;
            top: 47.5%;
        }

        &--sto-tomas {
            left: 56.3%;
            top: 50%;
        }

        &--sto-tomas-lubao {
            left: 30.5%;
            top: 64.7%;
        }

        &--sta-cruz {
            left: 24%;
            top: 76.7%;
        }

        &--plaza-burgos {
            left: 38%;
            top: 60.5%;
        }

        &--minalin {
            left: 52%;
            top: 59.5%;
        }

        &--macabebe {
            left: 51%;
            top: 71.5%;
        }

        &--macabebe-river {
            left: 28%;
            top: 72.5%;
        }

        &--capas-shrine {
            left: 7%;
            top: 91%;
        }

        &--pulilan-church {
            left: 78%;
            top: 89%;

            @media only screen and (max-width: 31.5em) {
                left: 70%;
            }
        }
    }
}
