.map {
    position: relative;

    &__background {
        width: 100%;
        max-width: 720px !important;
        z-index: 0;
    }

    font-family: 'aeonik-bold';

    overflow: visible;

    ///////////////////// ICONS
    &__icon {
        cursor: pointer;
        z-index: 1;

        &:hover,
        &:active,
        &:focus {
            animation: bounce 1s ease-out;

            & + div {
                display: block;
                z-index: 3;
            }
        }

        position: absolute;

        &--arayat {
            width: 30%;
            left: 50%;
            top: 9%;
        }

        &--city {
            width: 22%;
            left: 18%;
            top: 8%;
        }

        &--porac-miyamit-falls {
            width: 17%;
            left: 3%;
            top: 10%;
        }

        &--building {
            width: 11%;
            left: 46%;
            top: 18.5%;
        }

        &--migratory-birds {
            width: 17%;
            left: 81%;
            top: 15%;
        }

        &--nabuclod-mountains {
            width: 26%;
            left: -1%;
            top: 34.5%;
        }

        &--church {
            width: 11%;
            left: 15%;
            top: 51.5%;
        }

        &--macabebe-river {
            width: 7%;
            left: 35%;
            top: 67.5%;
        }

        &--capas-shrine {
            width: 8%;
            left: -27%;
            top: 28%;

            @include respond(phone) {
                left: 20%;
                top: 95%;
            }
        }

        &--pulilan-church {
            width: 15%;
            left: 70%;
            top: 69%;

            @include respond(phone) {
                left: 80%;
                top: 82%;
            }
        }
    }

    ///////////////////// PINS
    &__pin {
        cursor: pointer;
        width: 4%;
        position: absolute;
        filter: drop-shadow(0 7px 4px rgba(0, 0, 0, 0.5));
        z-index: 2;

        &:hover,
        &:active,
        &:focus {
            animation: bounce 1s ease-out;

            & + div {
                display: block;
                z-index: 3;
            }
        }

        &--dau {
            left: 36%;
            top: -0.7%;
        }

        &--magalang {
            left: 50%;
            top: -0.9%;
        }

        &--arayat {
            left: 62%;
            top: 14%;
        }

        &--angeles-city {
            left: 36%;
            top: 14%;
        }

        &--porac {
            left: 19%;
            top: 25%;
        }

        &--san-fernando {
            left: 40%;
            top: 27%;
        }

        &--sta-ana {
            left: 59%;
            top: 25%;
        }

        &--canbada {
            left: 71%;
            top: 28%;
        }

        &--floridablanca {
            left: 10%;
            top: 44%;
        }

        &--guagua-jasa {
            left: 23%;
            top: 41%;
        }

        &--sta-rita {
            left: 29%;
            top: 39%;
        }

        &--bacolor {
            left: 37%;
            top: 38%;
        }

        &--sto-tomas {
            left: 56.5%;
            top: 42.5%;
        }

        &--sta-cruz {
            left: 13.5%;
            top: 62.5%;
        }

        &--sto-tomas-lubao {
            left: 24%;
            top: 53%;
        }

        &--guagua-plaza {
            left: 33%;
            top: 49%;
        }

        &--minalin {
            left: 41%;
            top: 51%;
        }

        &--macabebe {
            left: 40%;
            top: 62.5%;
        }

        &--capas {
            left: -18%;
            top: 39%;

            @include respond(phone) {
                left: 14%;
                top: 105%;
            }
        }

        &--pulilan {
            left: 86%;
            top: 77%;

            @include respond(phone) {
                left: 78%;
                top: 86%;
            }
        }
    }

    &__location-name {
        position: absolute;
        font-size: 12px;
        padding: 5px 8px;
        background-color: $color-blue;
        color: $color-white;
        text-align: center;

        border-radius: 5px;
        display: none;
        z-index: 2;
        font-weight: bold;

        &:hover {
            display: block;
            z-index: 5;
        }

        &--brown {
            padding: 7px 10px;
            border-radius: 20px;
            background-color: $color-brown;
        }

        @include respond(phone) {
            font-size: 14px;
            padding: 2px 12px;
        }

        &--header {
            background-color: $color-yellow;
            padding: 4px 15px;
            font-size: 20px;
            color: $color-blue;

            border-radius: 25px;

            @include respond(phone) {
                left: 68%;
                padding: 1.5px 12px;
                font-size: 14px;
            }

            &-capas {
                left: -13%;
                top: 41%;

                @include respond(phone) {
                    left: 0%;
                    top: 116%;
                }
            }

            &-pulilan {
                left: 91%;
                top: 79%;

                @include respond(phone) {
                    left: 58%;
                    top: 89%;
                }
            }
        }

        &--dau {
            left: 37%;
            top: 7%;
        }

        &--magalang {
            left: 51%;
            top: 7%;
        }

        &--arayat {
            left: 63%;
            top: 22%;
        }

        &--mt-arayat {
            left: 69%;
            top: 6%;
        }

        &--angeles-city {
            left: 35%;
            top: 22%;
        }

        &--porac-miyamit-falls {
            left: -6%;
            top: 24%;

            @include respond(phone) {
                left: 1%;
                top: 11%;
            }
        }

        &--porac {
            left: 20%;
            top: 33%;
        }

        &--san-fernando {
            left: 41%;
            top: 35%;
        }

        &--sta-ana {
            left: 60%;
            top: 33%;
        }

        &--canbada {
            left: 72%;
            top: 36%;
        }

        &--migratory-birds {
            left: 75%;
            top: 30%;

            @include respond(phone) {
                left: 58%;
                top: 28%;
            }
        }

        &--nabuclod-mountains {
            left: -11%;
            top: 42%;

            @include respond(phone) {
                left: 3%;
                top: 31%;
            }
        }

        &--floridablanca {
            left: 11%;
            top: 52%;
        }

        &--guagua-jasa {
            left: 24%;
            top: 49%;
        }

        &--sta-rita {
            left: 30%;
            top: 47%;
        }

        &--bacolor {
            left: 38%;
            top: 45.5%;
        }

        &--sto-tomas {
            left: 56.3%;
            top: 50%;
        }

        &--sto-tomas-lubao {
            left: 25.5%;
            top: 60.7%;
        }

        &--sta-cruz {
            left: 15%;
            top: 70%;
        }

        &--guagua-plaza {
            left: 34%;
            top: 57%;
        }

        &--minalin {
            left: 42%;
            top: 59%;
        }

        &--macabebe {
            left: 41%;
            top: 70%;
        }

        &--macabebe-river {
            left: 20%;
            top: 70.5%;
        }

        &--capas-shrine {
            left: -18%;
            top: 51%;

            @include respond(phone) {
                left: 29%;
                top: 114%;
            }
        }

        &--pulilan-church {
            left: 86%;
            top: 90%;

            @include respond(phone) {
                left: 48%;
                top: 102%;
            }
        }
    }
}
