*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: 'aeonik-bold';
    src: url('/fonts/Aeonik-Bold.ttf');
}

@font-face {
    font-family: 'aeonik-regular';
    src: url('/fonts/Aeonik-Regular.ttf');
}
