*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: 'aeonik-bold';
    src: url('https://static1.squarespace.com/static/6194bcdfcad0e61e2765feb8/t/61e6a5108c41793954f6cfd1/1642505488398/Aeonik-Bold.ttf');
}

@font-face {
    font-family: 'aeonik-regular';
    src: url('https://static1.squarespace.com/static/6194bcdfcad0e61e2765feb8/t/61e6a5011ff3e40f67543f2d/1642505473530/Aeonik-Regular.ttf');
}
