.header {
    color: $color-main-brown;
    font-size: 7rem;

    &__pampanga {
        margin: 0 auto;
    }

    &__tarlac {
        position: absolute;
        top: 20%;
        left: 20%;
    }
}
