.header {
    color: $color-main-brown;
    font-size: 4rem;

    &__pampanga {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    &__tarlac {
        position: absolute;
        top: 67%;
        left: 0%;
    }

    &__bulacan {
        position: absolute;
        top: 70%;
        left: 76%;
    }
}
